<div id="items">
  <div id="events" class="list">
    <div class='header'>
      <span class='showing'>Showing concerts for <span class='date'>{{date}}</span></span>
      <button class='btn btn-mini' onclick='appView.changeDate()'><i class='icon-calendar'></i> Change Date</button>
    </div>
  </div>
  <div id="places" class="list">
    <div class='header'>
      <span class='showing'>Showing <span class='term'></span> near <span class='venue'></span></span>
      <button class='btn btn-mini' onclick='eventsView.showEvents()'><i class='icon-arrow-left'></i> Back</button>
    </div>
  </div>
  <div id="map_canvas"></div>
  <div id="fb-like" class="fb-like" data-href="http://wargoats.com/bandaid" data-send="true" data-width="100" data-show-faces="true"></div>
</container>
</div>