<div class='event item' onmouseover="appView.highlightMarker('{{marker_id}}')">
  <span class='label'>{{letter}}</span>
  <div class='info'>{{time}}<br/>
    <a href='{{event_url}}'>{{name}}</a><br/>
    <a href='{{map_url}}'>{{place}}</a>
  </div>
  <div class='bitebrew'>
    <span>Get a...</span><br/>
    <button class='btn' onclick='eventsView.showBite({{marker_id}}, {{event_id}})'>Bite</button>
    <button class='btn' onclick='eventsView.showBrew({{marker_id}}, {{event_id}})'>Brew</button>
  </div>
</div>