<div id="items">
  <div id="events" class="list">
    <div class='header'>
      <span class='showing'>Showing concerts for <span class='date'>{{date}}</span></span>
      <button class='btn btn-mini' onclick='appView.changeDate()'><i class='icon-calendar'></i> Change Date</button>
    </div>
  </div>
  <div id="places" class="list">
    <div class='header'>
      <span class='showing'>Showing <span class='term'></span> near <span class='place'></span></span>
      <button class='btn btn-mini' onclick='eventsView.showEvents()'><i class='icon-arrow-left'></i> Back</button>
    </div>
  </div>
  <div id="map_canvas"></div>
</div>